// Подключение шрифтов
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/fonts_to_convert/Montserrat-Regular.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/fonts_to_convert/Montserrat-Medium.ttf')
		format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/fonts_to_convert/Montserrat-SemiBold.ttf')
		format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/fonts_to_convert/Montserrat-Bold.ttf')
		format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/fonts_to_convert/Oswald-Regular.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/fonts_to_convert/Oswald-Medium.ttf')
		format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/fonts_to_convert/Oswald-SemiBold.ttf')
		format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/fonts_to_convert/Oswald-Bold.ttf')
		format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
